<div class="container">

	<div class="page-header">
		<h1>Resource Checker Config</h1>
	</div>
	 
	<form novalidate name="mining_form" class="col-xs-12 col-sm-9 col-md-6">
		<div class="form-group">
			<label for="mining_url">How long to run the background check job?</label> <input id="mining_url"
				name="mining_url" ng-model="mining_url" class="form-control"
				ng-model-options="{debounce: 500}" ng-required="true" required
				placeholder="URL http://example.com/foo?bar=xyz" />
		</div>
		<div class="form-group">
			<label for="mining_url">How long to run the background check job?</label> <input id="mining_url"
				name="mining_url" ng-model="mining_url" class="form-control"
				ng-model-options="{debounce: 500}" ng-required="true" required
				placeholder="URL http://example.com/foo?bar=xyz" />
		</div>
		<div class="form-group">
			<label for="mining_url"> What reservation resources to check?</label> <input id="mining_url"
				name="mining_url" ng-model="mining_url" class="form-control"
				ng-model-options="{debounce: 500}" ng-required="true" required
				placeholder="URL http://example.com/foo?bar=xyz" />
		</div>

	</form>
</div>
<!-- /container -->