<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Data Miner!</h1>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<form novalidate name="mining_form">
		<div class="form-group">
			<label for="mining_url">Web Site</label> <input id="mining_url"
				name="mining_url" ng-model="mining_url" class="form-control"
				ng-model-options="{debounce: 500}" ng-required="true" required
				placeholder="URL http://example.com/foo?bar=xyz" />
		</div>
		<div class="form-group">
			<label for="mining_search_pattern">Search for</label>
			<textarea id="mining_search_pattern" name="mining_search_pattern"
				ng-model="mining_search_pattern" class="form-control"
				ng-model-options="{debounce: 500}" ng-required="true" required
				placeholder="Search for everything that matches RegEx /[Ff]oo\s+?[Bb]ar/g or CSS div.foo:not(.bar)"></textarea>
		</div>
		<button type="submit" ng-disabled="!mining_form.$valid"
			class="btn btn-default pull-right">Submit</button>
	</form>
	<hr>

	<footer>
		<p>
			Bryce J. Fisher<br /> &copy; STG 2016
		</p>
	</footer>
</div>
<!-- /container -->

