<div ng-controller="home" class="home">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" ng-hide="searchMode">
		<div class="container">
			<h1>Data Miner!</h1>
		</div>
	</div>
	<div class="height-bumper"></div>
	<div class="container">
		<form novalidate name="search_form">
			<div class="form-group col-xs-1">
				<label for="id">ID </label> <input id="id" name="id"
					ng-model="searchParams.id" class="form-control"
					ng-keypress="$event.which == 13 && search();"
					placeholder="&#xe003;" required disabled/>
			</div>
			<div class="form-group col-xs-2">
				<label for="date">Date</label> <input id="date" name="date"
					ng-model="searchParams.date" class="form-control"
					ng-keypress="$event.which == 13 && search();"
					placeholder="&#xe003;" required />
			</div>
			<div class="form-group col-xs-5">
				<label for="parkID">Park ID</label> <input id="parkID" name="parkID"
					ng-model="searchParams.parkID" class="form-control"
					ng-keypress="$event.which == 13 && search();"
					placeholder="&#xe003;" required />
			</div>
			<div class="form-group col-xs-4">
				<label for="entranceID">Entrance ID</label> <input id="entranceID"
					name="entranceID" class="form-control"
					ng-model="searchParams.entranceID"
					ng-keypress="$event.which == 13 && search();"
					placeholder="&#xe003;" required />
			</div>
		</form>
		<div class="search-results">
			
		</div>
		<hr>

		<footer>
			<p>
				Bryce J. Fisher<br /> &copy; STG 2016
			</p>
		</footer>
	</div>
	<!-- /container -->
</div>
<!-- /controller -->
