<div ng-controller="homeController" class="home">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" ng-hide="searchMode">
		<div class="container">
			<h1>Data Miner!</h1>
		</div>
	</div>
	<div class="height-bumper"></div>
	<div class="container">
		<form novalidate name="search_form">
			<div class="form-group col-xs-3">
				<label for="date">Date</label> <input id="date" name="date"
					ng-model="searchParams.date" class="form-control"
					ng-keypress="$event.which == 13 && search();"
					placeholder="&#xe003;" required />
			</div>
			<div class="form-group col-xs-5">
				<label for="parkID">Park ID</label> <input id="parkID" name="parkID"
					ng-model="searchParams.parkID" class="form-control"
					ng-keypress="$event.which == 13 && search();"
					placeholder="&#xe003;" required />
			</div>
			<div class="form-group col-xs-4">
				<label for="entranceID">Entrance ID</label> <input id="entranceID"
					name="entranceID" class="form-control"
					ng-model="searchParams.entranceID"
					ng-keypress="$event.which == 13 && search();"
					placeholder="&#xe003;" required />
			</div>
		</form>
		<div class="search-results">
			<i class="glyphicon glyphicon-hourglass"
				ng-show="resultSet._isLoading"></i>
			<div ng-repeat="result in resultSet" class="result-item row">
				<div class="col-xs-3">{{result.date}}</div>
				<div class="col-xs-5">{{result.park.name ? result.park.name : result.park.sysId}}</div>
				<div class="col-xs-4">{{result.entrance.name ? result.entrance.name : result.entrance.sysId}}</div>
			</div>
		</div>
		
		<hr>

		<footer>
			<p>
				Bryce J. Fisher<br /> &copy; STG 2016
			</p>
		</footer>
	</div>
	<!-- /container -->
</div>
<!-- /controller -->
